.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 200px auto;
  height: 100vh;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  display: grid;
}

.header {
  background-color: #d47d19;
}
